.stage:hover{
  text-decoration: underline;
  cursor: pointer;
}
.birthContainer{
  overflow-x: scroll;
  width: 400px;
  padding-bottom: 1rem;
}

.birthRow{
  padding: .5rem 0 0;
  display:flex;
  width: 900px;
  font-size:14px;
  border-bottom: 1px solid #ccc;
}
.birthRow:nth-child(1){
  border: none;
}
.birthRow >p{
  flex-basis: 10%;
}

.underline{
  cursor: pointer;
}
.underline:hover{
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (min-width:400px) {
  .birthRow{
    font-size:14px;
  }
}
@media screen and (min-width:770px) {
  .birthContainer{
    width: 600px;
  }
}

@media screen and (min-width:960px) {
  .birthContainer{
    overflow-x: auto;
    width: 100%;
  }
  .birthRow{
    width: 100%;
  }
}
