.stage:hover{
  text-decoration: underline;
  cursor: pointer;
}
.birthContainer{
  position: relative;
  overflow-x: scroll;
  width: 400px;
  padding-bottom: .5rem;
}

.birthRow,.taskRow{
  padding: 1rem 0 0;
  display:flex;
  width: 900px;
  font-size:14px;
  border-bottom: 1px solid #ccc;
}
.birthRow:nth-child(1),.taskRow:nth-child(1){
  box-sizing: border-box;
  /* border: none; */
  /* padding-bottom:.6rem; */
}
.birthRow >p,.taskRow >p{
  flex-basis: 10%;
}
.taskRow >p:nth-child(3){
  flex-basis: 28%;
}

.underline{
  cursor: pointer;
}
.underline:hover{
  font-weight: bold;
  text-decoration: underline;
}

.comment{
  position: relative;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
.comment span{
  font-size: 13px;
  position: absolute;
  text-align: left;
  width: 250px;
  left: -80%;
  bottom: 10px;
  background-color: #fff;
  padding: .1rem .3rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: none;
  line-height: 1.3;
}
.comment:hover > span{
  
  display: block;
}

@media screen and (min-width:400px) {
  .birthRow{
    font-size:14px;
  }
}
@media screen and (min-width:770px) {
  .birthContainer{
    width: 600px;
  }
}

@media screen and (min-width:960px) {
  .birthContainer{
    overflow-x: auto;
    width: 100%;
  }
  .birthRow{
    width: 100%;
  }
}
