.stage:hover{
  text-decoration: underline;
  cursor: pointer;
}
.birthContainer{
  overflow-x: scroll;
  width: 400px;
}

.birthRow{

  display:flex;
  width: 900px;
  font-size:14px;
}
.birthRow >p{
  flex-basis: 10%;
}


@media screen and (min-width:400px) {
  .birthRow{
    font-size:14px;
  }
}
@media screen and (min-width:770px) {
  .birthContainer{
    width: 600px;
  }
}

@media screen and (min-width:960px) {
  .birthContainer{
    overflow-x: auto;
    width: 100%;
  }
  .birthRow{
    width: 100%;
  }
}
